<header>
    <img src="../../../../assets/images/logo.svg" alt="logo">
    <img src="../../../../assets/images/icon-menu.svg" alt="" id="hamburger" class="hamburger-menu" (click)="toggleNav()">

    <nav>
        <div class="back"></div>
        <div class="front">
            <div class="close-container">
                <img src="../../../../assets/images/icon-close-menu.svg" alt="" id="close" (click)="toggleNav()">
            </div>
            <ul>
                <li>
                    <button class="submenu-btn">Features
                        <img src="../../../../assets/images/icon-arrow-down.svg" alt="">
                    </button>
                    <ul class="features-ul">
                        <li>
                            <img src="../../../../assets/images/icon-todo.svg" alt="">
                            <span>Todo List</span>
                        </li>
                        <li>
                            <img src="../../../../assets/images/icon-calendar.svg" alt="">
                            <span>Calendar</span>
                        </li>
                        <li>
                            <img src="../../../../assets/images/icon-reminders.svg" alt="">
                            <span>Reminders</span>
                        </li>
                        <li>
                            <img src="../../../../assets/images/icon-planning.svg" alt="">
                            <span>Planning</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <button class="submenu-btn">Company
                        <img src="../../../../assets/images/icon-arrow-down.svg" alt="">
                    </button>
                    <ul class="company-ul">
                        <li><span>History</span></li>
                        <li><span>Our Team</span></li>
                        <li><span>Blog</span></li>
                    </ul>
                </li>
                <li><button>Careers</button>
                </li>
                <li><button>About</button>
                </li>
            </ul>
            <div class="btn-container">
                <button id="login-btn">Login</button>
                <button id="register-btn">Register</button>
            </div>
        </div>

    </nav>
</header>